.xamkor__inner {
  background-color: #fff;
  padding: 80px 0;
  max-width: 1350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.xamkor__list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.xamkor__item {
  width: 110px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .xamkor__list {
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0 20px;
    gap: 30px;
    justify-content: flex-start;
    -ms-overflow-style: none; /* IE va Edge */
    scrollbar-width: none; /* Firefox */
  }
  .xamkor__inner {
    padding: 20px 0;
    margin-bottom: 30px;
  }
}
